<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Travel, Cars, Sports Car, Ride, Tour and Travel, Tour, Wedding Cars, wedding car rental, SK Travels, Logistics, car booking, trip booking, car rental, luxury cars, private jets, skgoindia, skindia, compact cedan">
    <meta name="description" content="SK Travel and Logistics. car rental services">

    <title>S.K. Travels and Logistics</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/flipcard.css">
    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
    <style>
      .row:before, .row:after {display: none !important;}

      .rowsafari{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }


    #introLogo {
      -webkit-animation: cssAnimation 5s 1 ease;
    -moz-animation: cssAnimation 5s 1 ease;
    -o-animation: cssAnimation 5s 1 ease;
    }
    @-webkit-keyframes cssAnimation {
    from { -webkit-transform: rotate(0deg) scale(0.1) skew(1deg) translate(0px); }
    to { -webkit-transform: rotate(0deg) scale(1.009) skew(1deg) translate(0px); }
    }
    @-moz-keyframes cssAnimation {
    from { -moz-transform: rotate(0deg) scale(0.1) skew(1deg) translate(0px); }
    to { -moz-transform: rotate(0deg) scale(1.009) skew(1deg) translate(0px); }
    }
    @-o-keyframes cssAnimation {
    from { -o-transform: rotate(0deg) scale(0.1) skew(1deg) translate(0px); }
    to { -o-transform: rotate(0deg) scale(1.009) skew(1deg) translate(0px); }
    }


    </style>
    <!-- SMARTLOOK integration -->
    <script type="text/javascript">
      window.smartlook||(function(d) {
      var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
      var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
      c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
      })(document);
      smartlook('init', 'dfb8b4497f744e87494a000312c4bf336f3d2860');
    </script>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href= <% if(locals.samePage && locals.samePage == true) { %>'#page-top'<% } else { %>'/'<% } %>> <%if(locals.samePage && locals.samePage==true) { %> Home Page <% } else { %> Go Back <% } %> </a>


        <% if(locals.samePage && locals.samePage==true) { %>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
          <% } %>
        </div>
      </div>
    </nav>
