<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/servicespage.css">
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase" id="pageHeading"> Aviation</div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <div class="section-heading text-uppercase" id="subHeading"> Jets </div> <div class="py-5"></div>
    <div class="row text-center">

      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Aviation/learjet45.jpg" width="350"></a>
        <h4 class="service-heading">Learjet 45</h4>
        <p class="text-muted">Sitting Capacity : 9 seater</p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Aviation/turboprop.jpg" width="350"></a>
        <h4 class="service-heading">Turbo Prop</h4>
        <p class="text-muted">Sitting Capacity : 8 seater</p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Aviation/cj2plus.jpg" width="350"></a>
        <h4 class="service-heading">Cesna Citation CJ2+</h4>
        <p class="text-muted">Sitting Capacity : 8 seater</p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Aviation/falcon.jpg" width="350"></a>
        <h4 class="service-heading">Falcon</h4>
        <p class="text-muted">Sitting Capacity : 8 seater</p>
      </div>

    </div>
  </div>
</section>
<% include partials/footer %>
