<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/servicespage.css">
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase" id="pageHeading">Compact Sedan</div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <div class="section-heading text-uppercase" id="subHeading"> Vehicles </div> <div class="py-5"></div>
    <div class="row text-center">

      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/CompactSedan/toyotainnovacrysta.jpg"  width="300"></a>
        <h4 class="service-heading">Toyota innova Crysta </h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/CompactSedan/toyotafortuner.jpg"  width="300"></a>
        <h4 class="service-heading">Toyota Fortuner 2018</h4>
        <p class="text-muted"></p>
      </div>

      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/CompactSedan/toyotainnova.jpg"  width="300"></a>
        <h4 class="service-heading">Toyota innova </h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/CompactSedan/toyotaetios.jpg" width="300"></a>
        <h4 class="service-heading">Toyota Etios </h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/CompactSedan/marutisuzukiertiga.jpg" width="300"></a>
        <h4 class="service-heading">Maruti Suzuki Eartiga </h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/CompactSedan/ciaz.jpg" width="300"></a>
        <h4 class="service-heading">Maruti Suzuki Ciaz</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/CompactSedan/hondacity.jpg" width="350"></a>
        <h4 class="service-heading">Honda City</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/CompactSedan/dezire.jpg" width="350"></a>
        <h4 class="service-heading">Maruti Suzuki Dezire</h4>
        <p class="text-muted"></p>
      </div>

    </div>

  </div>
</section>
<% include partials/footer %>
