<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/servicespage.css">
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase" id="pageHeading">Convertible Sedan</div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <div class="section-heading text-uppercase" id="subHeading"> Vehicles </div> <div class="py-5"></div>
    <div class="row text-center">
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Convertibles/mercedesslk.jpg" width="250"></a>
        <h4 class="service-heading">Mercedes SLK350</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Convertibles/audia5.jpg" width="250"></a>
        <h4 class="service-heading">Audi A5 Cabriolet</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Convertibles/audia3.jpg"  width="300"></a>
        <h4 class="service-heading">Audi A3 Cabriolet</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Convertibles/bmw330.jpg"  width="250"></a>
        <h4 class="service-heading">BMW 330D</h4>
        <p class="text-muted"></p>
      </div>


    </div>

  </div>
</section>
<% include partials/footer %>
