<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/landingFonts.css">
<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome</div>
      <div class="intro-heading text-uppercase">S.K. Travel and Logistics</div>
      <div class="intro-heading"><img src="/img/logo.png" width="150px" id="introLogo"></div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">View Services</a>
    </div>
  </div>
</header>

<!-- Brands -->
<section class="py-5">
<div class="container">
  <div class="row rowsafari">
    <div class="col-md-3 col-sm-6">
        <img class="img-fluid d-block mx-auto" src="img/logos/bentley.png" style='opacity:0.45'>
    </div>
    <div class="col-md-3 col-sm-6">

        <img class="img-fluid d-block mx-auto" src="img/logos/audi.jpg" style='opacity:0.45'>

    </div>
    <div class="col-md-3 col-sm-6">

        <img class="img-fluid d-block mx-auto" src="img/logos/merc.png" style='opacity:0.45'>

    </div>
    <div class="col-md-3 col-sm-6">

        <img class="img-fluid d-block mx-auto" src="img/logos/rr.jpg" style='opacity:0.45'>

    </div>
  </div>
</div>
</section>

<!-- Car showcase -->

<section style="background-color:black">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <center>
      <div class="carousel-item active">
      <img class="d-block w-50" src="img/carousel/pic0.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
      <img class="d-block w-50" src="img/carousel/pic1.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
      <img class="d-block w-50" src="img/carousel/pic2.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
      <img class="d-block w-50" src="img/carousel/pic3.jpg" alt="Fourth slide">
      </div>
      <div class="carousel-item">
      <img class="d-block w-50" src="img/carousel/pic4.jpg" alt="Five slide">
      </div>

    </center>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>

<!-- Services -->
<section id="services" style="background-color:rgb(248,248,245)">

<div class="container">
  <div class="row rowsafari">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase customFont1">Our Services</h2>
      <h3 class="section-subheading text-muted"> Services available in Delhi, Mumbai, Pune, Bangalore, Chennai, Hydrabad, Kolkata, Meghalaya, Jammu, Agra, Jaipur And Guwahati.</h3>

      <br>
    </div>
  </div>
  <div class="row rowsafari text-center">
    <div class="col-md-12 col-lg-12">
      <h2 class="section-heading text-uppercase customFont1">Services In India</h2>
    </div>

    <div class="col-md-4">
      <a style="color:black" href="aviation"><img src="img/services/Aviation/learjet45.jpg"  width="250">
      <h4 class="service-heading">Aviation</h4></a>
      <p class="text-muted"></p>
    </div>

    <div class="col-md-4">

      <a style="color:black" href="sportscar"><img src="img/services/SportsCar/audir8.jpg" width="250">
      <h4 class="service-heading">Sports Cars</h4></a>
      <p class="text-muted"></p>
    </div>
    <div class="col-md-4">

      <a style="color:black" href="vintage"><img src="img/services/Vintage/dodge.jpg" width="250">
      <h4 class="service-heading">Vintage & Classic Cars</h4></a>
      <p class="text-muted"></p>
    </div>

    <div class="col-md-4">

      <a style="color:black" href="ultraluxury"><img src="img/services/UltraLuxury/rollsroyceghost.jpg"  width="200">
      <h4 class="service-heading">Ultra Luxury Cars</h4></a>
      <p class="text-muted"></p>
    </div>

    <div class="col-md-4">

      <a style="color:black" href="luxury"><img src="img/services/Luxury/mercedessclass.jpg" width="250">
      <h4 class="service-heading">Luxury Cars</h4></a>
      <p class="text-muted"></p>
    </div>
    <div class="col-md-4">
      <a style="color:black" href="convertibles"><img src="img/services/Convertibles/bmw330.jpg"  width="250">
      <h4 class="service-heading"> Convertible Sedan</h4></a>
      <p class="text-muted"></p>
    </div>
    <div class="col-md-4">
      <a style="color:black" href="premiumcompactLuxury"><img src="img/services/PremiumCompactLuxury/hondaaccord.jpg"  width="300">
      <h4 class="service-heading"> Premium compact Luxury Cars</h4></a>
      <p class="text-muted"></p>
    </div>
    <div class="col-md-4">
      <a style="color:black" href="compactsedan"><img src="img/services/CompactSedan/toyotainnovacrysta.jpg"  width="300">
      <h4 class="service-heading"> Compact Sedans, MUV & SUV</h4></a>
      <p class="text-muted"></p>
    </div>

  </div>
  <hr>
  <div class="row rowsafari text-center">
    <div class="col-md-12 col-lg-12">
      <h2 class="section-heading text-uppercase customFont1">Services In UAE</h2>
    </div>

    <div class="col-md-4"></div>

    <div class="flip-card col-md-4">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <ul style="list-style:none;">
            <li style="padding:10px;">Logistics </li>
            <li style="padding:10px;">Clearance </li>
            <li style="padding:10px">Warehousing </li>
            <li style="padding:10px">Transportation and Car rental services </li>
            <li style="padding:10px">Freight Forwarding</li>
          </ul>
        </div>
      </div>
    </div> <!-- end of flip card outer -->
  </div>
</div>
</section>

<!-- Contact -->
<section id="contact">
  <div class="container">

    <% if(locals.type && locals.type == 'formSubmit' ) { %>
    <div class="row rowsafari">
      <% if(locals.success == false) { %>
        <h5 style="color:red"> <%=locals.text%> </h5>
      <% } else if(locals.success == true) { %>
        <h5 style="color:green"> <%= locals.text %> </h5>
      <% } %>
    </div>
    <% } %>

    <div class="row rowsafari">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase customFont1">Contact Us</h2>
        <div class="container" style="background-color :rgba(250,250,220, 0.9); font-size:15px;border:solid; border-width:10px; border-radius: 25px; border-color:black; margin-bottom:10px; padding:10px;">
          <center>
          <div class="row rowsafari">
            <p class="" style="color:black; margin-left:20px; color:rgb(90,80,100)">S. K. Travels And Logistics (P) </p>
          </div>
          <div class="row rowsafari">
            <p  class="" style="color:black; margin-left:20px; color:rgb(90,80,100)">+91 9910020427 (India)</p>
          </div>
          <div class="row rowsafari">
            <p  class="" style="color:black; margin-left:20px; color:rgb(90,80,100)">+91 9818258388 (India)</p>
          </div>
          <div class="row rowsafari">
            <p  class="" style="color:black; margin-left:20px; color:rgb(90,80,100)">+971 528666697 (UAE)</p>
          </div>
          <div class="row rowsafari">
            <p  class="" style="color:black; margin-left:20px; color:rgb(90,80,100)"> info@skgoindia.com </p>
          </div>
          <div class="row rowsafari">
            <p  class="" style="color:black; margin-left:20px; color:rgb(90,80,100)">sktravelsandlogistics1@gmail.com</p><br>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item"><a target ="_blank" href="https://www.facebook.com/skrentacar"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a  target = "_blank" href="https://www.instagram.com/rajansharma_1_"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>

        </center>
      </div> <!-- container ends -->

      </div> <!-- first col ends -->
      </div> <!-- end of first row -->
    </div> <!-- end of container -->
    <div class="row rowsafari">
      <div class="col-lg-12">
        <form id="contactForm" name="sentMessage" method = "POST" action="/">
          <div class="row rowsafari">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" id="name" name = "senderName" type="text" placeholder="Your Name *" required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="email" name = "senderEmail" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="phone" type="tel" name = "senderPhone" placeholder="Your Phone *" required data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" id="message" name = "senderMessage" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row rowsafari">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; SK TRAVELS AND LOGISTICS 2019</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">

          <li class="list-inline-item">
            <a target ="_blank" href="https://www.facebook.com/skrentacar">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/rajansharma_1_" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>

        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<% if(locals.type && locals.type == 'formSubmit') { %>
<script>
  window.location.href="#contact";
</script>
<% } %>
<% include partials/footer %>
