<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/servicespage.css">
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase" id="pageHeading"> Luxury Cars</div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <div class="section-heading text-uppercase" id="subHeading"> Vehicles </div> <div class="py-5"></div>
    <div class="row text-center">

      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Luxury/bmw7series.jpg"  width="250"></a>
        <h4 class="service-heading">BMW 7 Series</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Luxury/bmw5series.jpg" width="250"></a>
        <h4 class="service-heading">BMW 5 Series</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Luxury/bmwx5.jpg" width="250"></a>
        <h4 class="service-heading">BMW X5</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Luxury/mercedessclass.jpg" width="250"></a>
        <h4 class="service-heading">Mercedes S Class</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Luxury/mercedeseclass.jpg" width="300"></a>
        <h4 class="service-heading">Mercedes E Class</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Luxury/mercedesml.jpg" width="250"></a>
        <h4 class="service-heading">Mercedes ML</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Luxury/mercedesviano.jpg" width="250"></a>
        <h4 class="service-heading">Mercedes Viano</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Luxury/audia8.jpg" width="250"></a>
        <h4 class="service-heading">Audi A8</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Luxury/audia6.jpg" width="250"></a>
        <h4 class="service-heading">Audi A6</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Luxury/toyotacommuterhiace.jpg" width="250"></a>
        <h4 class="service-heading">Toyota Commuter Hiace</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Luxury/toyotaprado.jpg" width="250"></a>
        <h4 class="service-heading">Toyota Prado</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Luxury/jaguarxf.jpg" width="300"></a>
        <h4 class="service-heading">Jaguar XF</h4>
        <p class="text-muted"></p>
      </div>

    </div>

  </div>
</section>
<% include partials/footer %>
