<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/servicespage.css">
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase" id="pageHeading">Premium Compact Luxury</div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <div class="section-heading text-uppercase" id="subHeading"> Vehicles </div> <div class="py-5"></div>
    <div class="row text-center">

      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/PremiumCompactLuxury/camry.jpg" width="300"></a>
        <h4 class="service-heading">Toyota Camry</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/PremiumCompactLuxury/hondaaccord.jpg"  width="300"></a>
        <h4 class="service-heading">Honda Accord</h4>
        <p class="text-muted"></p>
      </div>

    </div>

  </div>
</section>
<% include partials/footer %>
