<!-- a generalized ejs file that will render service and its item,
  This EJS Template must be passed following data
    1. A Service Object to render its item

  In Case if no service object is passed or no service found, the page simply shows a dialog box saying "coming soon"

NOTE : This design will force each service to hold same design, the TEMPLATE will not generate seperate design for seperate services
although we can use a stylesheet to achieve that
-->
<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/servicespage.css">
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase" id="pageHeading"> SERVICE NAME GOES HERE </div>
    </div>
  </div>
</header>


<section id="services">
  <div class="container">
    <div class="section-heading text-uppercase" id="subHeading"> SERVICE's ITEM CATEGORY GOES HERE  </div> <div class="py-5"></div>
    <div class="row text-center">

      <!-- for each item "e" in service  { -->
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/PremiumCompactLuxury/camry.jpg" width="300"></a>
        <h4 class="service-heading"> e.itemNAME goes here </h4>
        <p class="text-muted"></p>
      </div>
      <!-- } -->

    </div>

  </div>
</section>
<% include partials/footer %>
