<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/servicespage.css">
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase" id="pageHeading"> Sports Car</div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <div class="section-heading text-uppercase" id="subHeading"> Vehicles </div> <div class="py-5"></div>
    <div class="row text-center">

      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/SportsCar/bentleygt.jpg" width="250"></a>
        <h4 class="service-heading">Bentley GT</h4>
        <p class="text-muted">Available Colors : Red</p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/SportsCar/ferrari348.jpg"  width="350"></a>
        <h4 class="service-heading">Ferrari 348 GTS</h4>
        <p class="text-muted">Available Colors : Red</p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/SportsCar/porsche.jpg"  width="250"></a>
        <h4 class="service-heading">Porche 911s</h4>
        <p class="text-muted">Available Colors : Yellow</p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/SportsCar/audir8.jpg" width="250"></a>
        <h4 class="service-heading">Audi R8</h4>
        <p class="text-muted">Available Colors : Red, Yellow & Orange</p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/SportsCar/c63amg.jpg"  width="300"></a>
        <h4 class="service-heading">Mercedes C63 AMG</h4>
        <p class="text-muted">Available Colors : Silver</p>
      </div>

    </div>

  </div>
</section>
<% include partials/footer %>
