<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/servicespage.css">
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase" id="pageHeading"> Ultra Luxury Cars</div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <div class="section-heading text-uppercase" id="subHeading"> Vehicles </div> <div class="py-5"></div>
    <div class="row text-center">

      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/UltraLuxury/bentleyspur.jpg" width="300"></a>
        <h4 class="service-heading">Bentley Flying Spur</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/UltraLuxury/rollsroyceghost.jpg"  width="250"></a>
        <h4 class="service-heading">Rolls Royce Ghost</h4>
        <p class="text-muted"></p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/UltraLuxury/panarama4s.jpg"  width="270"></a>
        <h4 class="service-heading">Porsche Panamera 4S</h4>
        <p class="text-muted"></p>
      </div>
    </div>

  </div>
</section>
<% include partials/footer %>
