<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/servicespage.css">
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase" id="pageHeading"> Vintage Car</div>
    </div>
  </div>
</header>
<section id="services">
  <div class="container">
    <div class="section-heading text-uppercase" id="subHeading"> Vehicles </div> <div class="py-5"></div>
    <div class="row text-center">

      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Vintage/dodge.jpg"  width="300"></a>
        <h4 class="service-heading">Dodge kingsway</h4>
        <p class="text-muted">1960 Model</p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Vintage/eagle.jpg" width="350"></a>
        <h4 class="service-heading">Chevrolet Eagle</h4>
        <p class="text-muted">1931 Model</p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Vintage/lincoln.jpg" width="300"></a>
        <h4 class="service-heading">Ford Lincoln Capri</h4>
        <p class="text-muted">1953 Model</p>
      </div>
      <div class="col-md-4 col-lg-4 text-center">
        <a href="#"><img src="img/services/Vintage/buick.jpg" width="300"></a>
        <h4 class="service-heading">Buick Skylark</h4>
        <p class="text-muted">1969 Model</p>
      </div>
        <div class="col-md-4 col-lg-4 text-center">
          <a href="#"><img src="img/services/Vintage/impala.jpg" width="300"></a>
          <h4 class="service-heading">Chevrolet Impala</h4>
          <p class="text-muted">1950 Model</p>
        </div>
        <div class="col-md-4 col-lg-4 text-center">
          <a href="#"><img src="img/services/Vintage/mercedes.jpg" width="300"></a>
          <h4 class="service-heading">Mercedes Benz 280 S</h4>
          <p class="text-muted">1967 Model</p>
        </div>
        <div class="col-md-4 col-lg-4 text-center">
          <a href="#"><img src="img/services/Vintage/rollsroyce.jpg" width="300"></a>
          <h4 class="service-heading">Rolls Royce Silver Shadow</h4>
          <p class="text-muted">1976 Model</p>
        </div>
      </div>

    </div>

  </div>
</section>
<% include partials/footer %>
