
/* Source : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card */
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  font-family: baseFont;
  font-size: 22px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front {

  background-color: #bbb;
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
}
