@font-face {
  font-family: subHeadingFont1;
  src:url('../fonts/GreatLakesShadowNF.ttf') format('truetype');
}
@@font-face {
  font-family: baseFont;
  src:url('../fonts/baseFont.ttf') format('truetype');
}
.customFont1
{
  font-family: baseFont;/*subHeadingFont1;*/
}
