
@font-face {
    font-family: pageHead;
    src:url('../fonts/earwig factory rg.ttf') format('truetype');
}
@font-face{
  font-family: subHead;
  src:url('../fonts/scandal.ttf') format('truetype');
}
#pageHeading
{
  font-weight: lighter;
  font-family : pageHead;
  font-size:5em;
  text-align: center;
  text-shadow:5px 2px 8px #dbb51b;
}
#subHeading{
  font-weight: lighter;
  font-family : subHead;
  font-size:5em;
  text-align: center;
  text-shadow:5px 2px 8px #dbb51b;
}
