<% include partials/header %>
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="-heading text-uppercase">ADMIN PANEL</div>
    </div>
  </div>
</header>
<div class="container">
  <hr>
  <h1> ADMINISTRATOR PANEL </h1>
  <font color="red"> <p>Admin Panel allows you to manage orders/transaction and other website related
    <br> metrics, never reveal your login detail to anyone </p></font>
  <form method="POST" action="/admin" class="loginBox">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
  </div>
  <div style="padding:100px"></div>
</div>

<% include partials/footer %>
