<!DOCTYPE html>
<html>

<head>
  <title> SKGOINDIA- CONTROL PANEL </title>
  <style>
  .leftMenuDiv{
    float:left;
  }

  a{
    text-decoration: none;
  }
  #leftMenuNav{
  }
  .menuButton{
    background-color: white;
    color:black;
    border-style: solid;
    padding:5px;
    border-width: 2px;
    height: 50px;
    margin-bottom: 10px;
    transition-duration: 0.15s;
  }
  .menuButton:hover{
    background-color: yellow;
    border-style: solid;
  }
  .contentDiv{
    float:left;
    margin-left:10px;
    border-style: double;
    border-color: green;
    border-width: 5px;
    border-radius: 20px;
    width: 80%;
    height: 400px;
    background-color: black;
    color:white;
  }
  </style>
</head>

<body>
  <div class="headDiv container-fluid">
    <h1 style="text-align:center"> Content Management Panel </h1>
  </div>
  <div class="leftMenuDiv">
    <nav id="leftMenuNav">
      <a href="/admin/adminPanel/landingPageManager"><div class="menuButton"> Landing Page<br> Management </div></a>
      <a href="/admin/adminPanel/servicePageManager"><div class="menuButton">Services <br> Management</div> </a>
      <a href="/admin/adminPanel/inbox"><div class="menuButton">Inbox</div> </a>
    </nav>
  </div>

  <div class="contentDiv">
    <h1> ADMINISTRATOR ACCOUNT </h1>
    <p> Total Number of Administrators : 1 [ admin2010 ] </p><br>
    <p> Under Development : Last Updated : 5-JAN-2019, 7:35 PM </p>
    <br><hr>
    <p> Usage </p>
    <ol>
      <li> To Manage the main-page, including page's font and other data click on <font color="green">"Landing Page Management Tools"</font> </li><br>
      <li> To Manage the sub-pages (suv cars, vintage cars, etc) click on <font color="green">"Services Page Management Tools"</font> </li>
      <li> To view customer queries, click on <b> Inbox </b></li>
    </ol>
    <font color="green"><p>You will be logged-out automatically after 1 Hour</p></font>
  </div>
</body>

</html>
