<!DOCTYPE html>
<html>

<head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <title> SKGOINDIA- CONTROL PANEL </title>
  <style>
    table {
      font-family: arial, sans-serif;
      width: 100%;
    }

    td, th {
        border: 3px double rgb(150,150,150);
    }
    tr{
      transition: 0.15s;
    }
    tr:hover{
      background-color: yellow;
      color:black;
    }
  .leftMenuDiv{
    float:left;
  }

  a{
    text-decoration: none;
  }
  #leftMenuNav{
  }
  .menuButton{
    background-color: white;
    color:black;
    border-style: solid;
    padding:5px;
    border-width: 2px;
    height: 50px;
    margin-bottom: 10px;
    transition-duration: 0.15s;
  }
  .menuButton:hover{
    background-color: yellow;
    border-style: solid;
  }
  .contentDiv{
    float:left;
    margin-left:10px;
    border-style: double;
    border-color: green;
    border-width: 5px;
    border-radius: 20px;
    width: 80%;
    height: 400px;
    background-color: black;
    color:white;
  }
  .overlay{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    position: fixed;
  }

  .hide{
    display: none;
  }
  </style>
</head>

<body>

  <div class='overlay hide' style="padding:10px; background-color: black; color:white; border-color:green">
    <center><h2>Loading</h2> <h3 id="loadingStatus"> </h3> </center>
  </div>

  <div class="headDiv container-fluid">
    <h1 style="text-align:center"> Inbox </h1>
  </div>
  <div class="leftMenuDiv" style="margin-right:20px;">
    <nav id="leftMenuNav">
      <a href="/admin/adminPanel"><div class="menuButton"> Go Back </div> </a>
    </nav>
  </div>

  <div class="contentDiv" id="contentDisplayArea" style="padding:10px; overflow:scroll">
    <h4> Browse all messages here </h4>
    <p id="messageCount"></p>
    <button type="button" name="button" onclick="fetchMessages()">Fetch Messages</button>
    <table id="inboxTable">
    </table>

  </div>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script type="text/javascript">
    function fetchMessages()
    {
      $(".overlay").removeClass('hide');
      $.get("/admin/adminpanel/inbox/message",
      function(data, status)
      {
        $(".overlay").addClass('hide');
        $("#messageCount").html("Messages Fetched = "+data.locals.messages.length);
        if(data.locals.messages.length == 0){
          return;
        }

        $("#inboxTable").html(createHeaderRow());
        data.locals.messages.forEach(function(messageObject){
          let btnDelete = "<form action='/admin/adminpanel/inbox/message/"+messageObject._id+"?_method=DELETE' method='POST'> <button> Delete </button> </form>"
          let btnView = "<button class='btnViewMessage' name='"+ messageObject._id +"' > View </button>";
          let text = "<tr>" + createTableCell(messageObject.senderDate[0]+"-"+messageObject.senderDate[1]+"-"+messageObject.senderDate[2]) + createTableCell(messageObject.senderName) + createTableCell(messageObject.senderPhone) + createTableCell(messageObject.senderEmail)+ createTableCell(messageObject.senderMessage) +"<td>" + btnDelete +"</td>" +"</tr>"
          $("#inboxTable").append(text);
        });

      });

    }
    function setupMessageBox(){
      $("#inboxTable").html();
    }
    function createHeaderRow(){
      return "<tr>" + createTableCell("Date") + createTableCell("Sender") + createTableCell("Phone") + createTableCell("Email ID")+ createTableCell("Message") +"</tr>"
    }
    function createTableCell(tableData){
      return "<td>"+tableData+"</td>";
    }

    function updateOverlay(){
      console.log("updateOverlay");
      var docWidth = $(document).width();
      var size = (docWidth/2);
      var pos = (docWidth/2) - (size/2);
      const minSize = 200;
      if(size < minSize){
        size=minSize;
      }
      $('.overlay').css('left', pos);
      $('.overlay').css('width', size);
      $('.overlay').css('height', size-150);
    }
    updateOverlay();
  </script>
</body>
</html>
