<!-- UPDATE : 4-12-2018
  Landing Page Manager :
    SERVICE MANAGEMENT : includes a table of all services
      1. Allow user to add a new service
      2. Allow user to delete existing service
      3. Allow user to edit existing servics
-->
<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<title> SKGOINDIA- CONTROL PANEL </title>
<style>
  table {
    font-family: arial, sans-serif;
    width: 100%;
  }

  td, th {
      border: 3px double rgb(150,150,150);
  }
  tr{
    transition: 0.15s;
  }
  tr:hover{
    background-color: yellow;
    color:black;
  }

  .hide{
    display: none;
  }

  a{
    text-decoration: none;
  }
  .leftMenuDiv{
    float:left;
    margin-left:8px;
  }
  .menuButton{
    background-color: white;
    color:black;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    height: 50px;
    margin-bottom: 10px;
    transition-duration: 0.25s;
    text-decoration: none;
    padding:5px;
  }
  .menuButton:hover{
    background-color: yellow;
  }

  .contentDiv{
    float:left;
    margin-left:10px;
    border-style: double;
    border-color: green;
    border-width: 10px;
    border-radius: 20px;
    width: 80%;
    height: 800px;
    background-color: black;
    color:white;
  }
  #addServiceDialog{
    background-color: rgb(110,55,115);
  }
  #editServiceDialog{
    background-color: rgb(120,150,80);
    transition-duration: 1s;
    -moz-transition-duration : 1s;
    -webkit-transition-duration : 1s;
    -ms-transition-duration : 1s;
    -o-transition-duration : 1s;
  }
  #editServiceDialog:hover{
    background-color: rgb(100,150,200);
  }
  .overlay{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    position: fixed;
  }
</style>

  <script>
  function showServiceDialog(){
    $("#addServiceDialog").removeClass("hide");
  }
  function hideServiceDialog(){
    $("#addServiceDialog").addClass("hide");
  }


  </script>
</head>
<body>

  <div class='overlay hide' id='editServiceDialog' style="padding:10px; background-color: black; color:white; border-color:green">
    <button onclick="hideEditServiceDialog()" style="float:right; margin-bottom:10px;"> X </button>
    <center><h1> Edit Service </h1></center>
    <div id="contentDisplayArea" style="float:left">

    </div>
  </div>

  <div class="headDiv container-fluid" style="margin-bottom: 50px; margin-top:25px; padding:1px;">
    <h2 style="text-align:center"> Landing Page Management </h2>
  </div>
  <div class="leftMenuDiv" style="margin-right:20px;">
    <nav id="leftMenuNav">
      <a href="/admin/adminPanel"><div class="menuButton"> Go Back</div> </a>
    </nav>
  </div>

  <div class="contentDiv container" style="overflow:scroll; background-color:black">
    <div class="managerBox container">
      <div id="serviceBrowser" class="row" style="color:white;">
        <% var totalServices = locals.services.length %>
        <h2>Services </h2>
        <div id="serviceBrowser" style="overflow:scroll; height:500px; width:100%; background-color:#06081c; padding:10px; border:solid;">
          <% if(totalServices!=0) { %>
            <table>
              <tr>
                <th> Database ID </th>
                <th> Service Name </th>
                <th> Detail </th>
                <th> IMAGEPATH </th>
              </tr>
              <h4> click below to create a service</h4>
                <input type='button' placeholder="failed to load button" value="Create Service" onclick="showServiceDialog()">

                <div class="hide" id="addServiceDialog">
                  <button style="background-color:red; float:right;" onclick="hideServiceDialog()">✖</button>
                  <form enctype="multipart/form-data" style="padding-top:25px; background-color:black" action="/admin/adminpanel/landingPageManager" method="POST">
                    <input type="text" name="serviceName" placeholder="Enter Service Name" required>
                    <input type="text" name="serviceDetail" placeholder="Enter Service Detail"><br>
                    <input type="text" name="serviceCountry" placeholder="Enter Service Country" required><br>
                    <input type="text" name="serviceImagePath"><!-- Upload Image : <input type="file" name="serviceImagePath"> -->
                    <input type='submit' value="Create">
                  </form>
                </div>

              <!-- display each row dedicated to each service -->
              <% for(i=0; i<totalServices; i++) { %>
                <tr>
                  <th> <p> <%= locals.services[i].getServiceId() %> </p> </th>
                  <th> <p> <%= locals.services[i].getServiceName() %> </p> </th>
                  <th> <p> <%= locals.services[i].getServiceDetail() %> </p> </th>
                  <th> <p> <%= locals.services[i].getServiceImagePath() %> </p> </th>
                  <th>
                    <form action="/admin/adminpanel/landingPageManager/<%= locals.services[i].getServiceId()%>?_method=DELETE" method="POST">
                      <button class="ui red basic button">delete</button>
                    </form>
                    <button class="btnEditService" style="margin-left:10px; background-color:rgb(10,200,50)" name="<%=locals.services[i].getServiceId()%>">edit</button>
                  </th>
                </tr>
            <% } %>
          </table>

        <% } else { %>
          <h4> No services found, click below to create a service</h4>
            <input type='button' placeholder="failed to load button" value="Create Service" onclick="showServiceDialog()">
            <div class="hide" id="addServiceDialog">
              <button style="background-color:red; float:right;" onclick="hideServiceDialog()">✖</button>
              <form enctype="multipart/form-data" style="padding-top:25px; background-color:black" action="/admin/adminpanel/landingPageManager" method="POST">
                <input type="text" name="serviceName" placeholder="Enter Service Name" required>
                <input type="text" name="serviceDetail" placeholder="Enter Service Detail"><br>
                <input type="text" name="serviceCountry" placeholder="Enter Service Country"><br>
                Image Google Drive Link : <input type="text" name="serviceImagePath">
                <input type='submit' value="Create">
              </form>

            </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script>

  function showEditServiceDialog(){
    $("#editServiceDialog").removeClass('hide');
  }
  function hideEditServiceDialog(){
    $("#editServiceDialog").addClass('hide');
  }

  var updateOverlay = function(){
    var docWidth = $(document).width();
    var size = (docWidth/2);
    var pos = (docWidth/2) - (size/2);
    const minSize = 550;
    if(size < minSize){
      size=minSize;
    }
    $('#editServiceDialog').css('left', pos);
    $('#editServiceDialog').css('width', size);
    $('#editServiceDialog').css('height', size-150);
  }
  updateOverlay();//call first time
  $(".btnEditService").click(function(){
    var selectedService = $(this).attr('name'); //this is the button
    var serviceObject = null;
    //initiate ajax request to server to receive selected service Object
    $.get("/admin/adminpanel/landingPageManager/"+selectedService, function(data, status){
      console.log("recieved data : " + JSON.stringify(data) + "and status : "+status);
      if(data){
        setupEditOverlay(data);
      }
    });


  });
  function setupEditOverlay(selectedObject){
    //set up overlay
    console.log(JSON.stringify(selectedObject))
    $("#contentDisplayArea").html(
      "<form method='POST' enctype='multipart/form-data' "+"action='/admin/adminpanel/landingPageManager/" + selectedObject._id + " '>"
      +"Service Name : <input type='text' name='serviceName' id='inp_serviceName' value='"+selectedObject.serviceName+"' required>  <br>"
      +"Service Detail : <input type='text' name='serviceDetail' value='"+selectedObject.serviceDetail+"' id='inp_serviceDetail' required><br>"
      +"Service Image Path : <input type='text' name='serviceImagePath' value='"+ selectedObject.serviceImagePath + "' id='inp_serviceImagePath' required><br>"
      +"Service Country : <input type='text' name='serviceCountry' value='"+ selectedObject.serviceCountry + "' id='inp_serviceCountry' required><br>"
      +"<button type='submit'> SUBMIT </button>"
      +"</form>"
    );

    showEditServiceDialog();
  }
  window.addEventListener('resize', updateOverlay);
</script>

</body>

</html>
