<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="js/ejs.min.js"></script>
  <title> SKGOINDIA- CONTROL PANEL </title>
  <style>
  .menuButton{
    background-color: white;
    color:black;
    border-style: solid;
    border-color: grey;
    border-width: 5px;
    height: 50px;
    margin-bottom: 10px;
    transition-duration: 0.25s;

  }
  .menuButton:hover{
    background-color: white;
    color:black;
    border-style: solid;
    border-radius: 20px;
    height: 50px;
    margin-bottom: 10px;
  }

  .contentDiv{
    float:left;
    margin-left:10%;
    padding:10px;
    border-width: 5px;
    width: 80%;
    background-color:black;
    color:rgb(250,200,250);
  }
  .hide{
    display: none;
  }
  .overlay{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    position: fixed;
  }
  #addNewItemForm{
    background-color: rgb(120,150,80);
    transition-duration: 1s;
    -moz-transition-duration : 1s;
    -webkit-transition-duration : 1s;
    -ms-transition-duration : 1s;
    -o-transition-duration : 1s;
  }
  #addNewItemForm:hover{
    background-color: rgb(100,150,200);
  }
  </style>
  <script>
    var globalVar_selectedId, globalVar_selectedService;
  </script>
</head>

<body>

  <div class='overlay hide' id='addNewItemForm' style="padding:10px; background-color: rgb(10,10,25); color:white; border-color:green">
    <button onclick="hideAddNewItemForm()" style="float:right; margin-bottom:10px;"> X </button>

    <center><h1> Add Service Item </h1></center>

    <div id="addNewItemFormArea" style="float:left">
    </div>
  </div>

  <div class="overlay hide" id='editItemForm' style="padding:10px; background-color: rgb(10,10,25); color:white; border-color:green">
    <button onclick="hideEditForm()" style="float:right; margin-bottom:10px;"> X </button>

    <div id="editItemFormArea" style="float:left"></div>

  </div>



  <div class="headDiv">
    <h1 style="text-align:center"> Service Management Panel </h1>
  </div>

  <div style="margin-right:20px; float:left">
    <nav id="leftMenuNav">
      <a href="/admin/adminpanel"><div class="menuButton"> Go Back</div> </a>
    </nav>
  </div>

  <div class="contentDiv">
    <h1> Service Management </h1>
    <h3> Manage Each Individual Service here, Add/Remove or Update items that are being offered by this service </h3>
    <div id="infoBox" style="color:yellow; padding-left:10px; padding-bottom:2px">
      <h2> How its Done ? </h2>
      <ul>
        <li> Select A Service </li>
        <li> A Box will popup showing items that are included in this service </li>
        <li> Now add items or modify existing items </li>
      </ul>
    </div>
    <hr>
    <div style="padding:5px;">
      <h2>Select Service [Total Services : <%= locals.services.length %> ]</h2>
     <div style="background-color:black; overflow:scroll; height:100px; width:100%; border-style:solid; border-color:grey; border-width:3px">
       <% for(var i=0; i<locals.services.length; i++) { %>
         <%= i+1 %> : <input type='radio' name="selectedService" value="<%=locals.services[i].getServiceId()%>" required> <%=locals.services[i].getServiceName()%><br>
       <% } %>
      </div>
      <button onclick="selectService()">Select Service</button>
      <p style="color:red; background-color:black"><b>It may take some time after clicking above button</b></p>
    </div>

    <!-- 1st NON-FLOATING OVERLAY that is only responsible for setting up TABLE -->
    <div class="contentDiv container hide" id="manageBox">
      <button style="float:right; background-color:red" onclick="hideManagerBox()"> X </button>
      <div id="contentDisplayArea" style="overflow:scroll">
        <!-- TODO: use client side ejs -->
        <p id="infoLabel_createServiceItem"></p>

        <button id="btn_createServiceItem"></button>

        <table id="serviceViewTable">
        </table>
      </div>
    </div>
  </div>

<script>

  function setupEditItemForm(itemObject){
    console.log("setting up");
    $("#editItemFormArea").html(
      "<form method='POST' enctype='multipart/form-data' "+"action='/admin/adminpanel/servicePageManager/"+globalVar_selectedService._id+"/" +itemObject._id+ " '>"
      +"Item Name : <input type='text' name='itemName' id='inp_itemName' value='"+itemObject.itemName+"' required>  <br>"
          +"Item Caption : <input type='text' name='itemDetail' id='inp_itemDetail' value='"+itemObject.itemDetail+"' required><br>"
      +"Item Image Path : <input type='text' name='itemImagePath' id='inp_serviceImagePath' value='" +itemObject.itemImagePath+"' required><br>"
      +"<button type='submit'> Update</button>"
      +"</form>"
    );
    showEditItemForm();
  }

  //manage addNewItemForm overlay setup
  function setupAddNewItemForm(){

    //TODO : Below code is used just for action attr, we can ignore this step
    //and rather simply attach action attribute using jquery .attr(key, value) method
    $("#addNewItemFormArea").html(
      "<form method='POST' enctype='multipart/form-data' "+"action='/admin/adminpanel/servicePageManager/item/" + globalVar_selectedService._id + " '>"
      +"Item Name : <input type='text' name='itemName' id='inp_itemName' required>  <br>"
      +"Item Caption : <input type='text' name='itemDetail' id='inp_itemDetail' required><br>"
      +"Item Image Path : <input type='text' name='itemImagePath' id='inp_serviceImagePath' required><br>"
      +"<button type='submit'> Add Item </button>"
      +"</form>"
    );
    showAddNewItemForm();
  }
  function showEditItemForm(){
    $("#editItemForm").removeClass('hide');
  }
  function hideEditItemForm(){
    $("#editItemForm").addClass('hide');
  }
  function showAddNewItemForm(){
    $("#addNewItemForm").removeClass('hide');
  }
  function hideAddNewItemForm(){
    $("#addNewItemForm").addClass('hide');
  }
  var updateOverlay = function(){
    let docWidth = $(document).width();
    let size = (docWidth)/2;
    let pos = (docWidth/2) - (size/2);
    const minSize = 550;
    if(size < minSize) size=minSize;
    $("#addNewItemForm").css('left', pos);
    $("#addNewItemForm").css('width', size);
    $("#addNewItemForm").css("height", size-150);
    $("#editItemForm").css('left', pos);
    $("#editItemForm").css('width', size);
    $("#editItemForm").css("height", size-150);
  }
  updateOverlay();//calls first time
  window.addEventListener('resize', updateOverlay);

  function hideManagerBox(){
    globalVar_selectedId=null;
    globalVar_selectedService=null;
    $(".contentDiv").addClass('hide');
  }
  function selectService(){
    globalVar_selectedId = $("input[name='selectedService']:checked").val();
    if(!globalVar_selectedId){
      return;
    }
    //AJAX request to get service object
    $.get("/admin/adminpanel/landingPageManager/"+globalVar_selectedId, function(data, status){
      console.log("recieved data : " + JSON.stringify(data) + "and status : "+status);
      if(data){
        globalVar_selectedService=data;
        $("#manageBox").removeClass('hide');
        //we have the service now, create <a href=""></a> dynamic table
        createDynamicTableWithId("#serviceViewTable");
      }
    });
  }
  function createDynamicTableWithId(tableId){
    let table = $(tableId);
    //if no items , do not render table
    $("#btn_createServiceItem").text('Add New Item');
    $("#btn_createServiceItem").attr('onclick', 'setupAddNewItemForm()');

    if(globalVar_selectedService.serviceItemsList.length == 0){
      console.log('no item to show');
      $("#infoLabel_createServiceItem").text('No Item in '+globalVar_selectedService.serviceName+', Add New Item to This Service');
      table.html(''); //clear table
      return;
    }
    $("#infoLabel_createServiceItem").text('');
    table.html(createHeaderRow());

    //for each service item create a row
    globalVar_selectedService.serviceItemsList.forEach(function(serviceItem){
      let newRow =
      "<tr>"
        + createTableCell(serviceItem._id)
        + createTableCell(serviceItem.itemName)
        + createTableCell(serviceItem.itemImagePath)
        +"<td>"
          +"<form action='/admin/adminpanel/servicePageManager/"+globalVar_selectedService._id+"/"+serviceItem._id+"?_method=DELETE' method='POST'>"
            +"<button> delete </button>"
          +"</form>"
          +"<button class='btnEditServiceItem' style='margin-left:10px; background-color:rgb(100,200,50)' name='"+serviceItem._id+"'> Edit </button>"
        +"</td>"
      +"</tr>"
      table.append(newRow);
    });
    $(".btnEditServiceItem").click(function(){
      let selectedServiceItemId = $(this).attr('name');
      console.log("name == "+selectedServiceItemId);
      $.get("/admin/adminpanel/servicePageManager/"+globalVar_selectedService._id+"/"+selectedServiceItemId, function(data, status){
        if(data){
          setupEditItemForm(data);
        }
        //else warning
      });
    });
  }
  //helper method
  function createHeaderRow(){
    return "<tr>" + createTableCell("Item ID") + createTableCell("Item Name") + createTableCell("Image Path") + "</tr>"
  }
  function createTableCell(cellValue){
    return "<td>"+cellValue+"</td>"
  }

</script>

</body>
</html>
